<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  <img style="width: 30; height: 30px;margin-right: 15px" src="assets/images/pm.png" /><span class="navbar-brand">Policia Militar</span>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Home">
        <a class="nav-link" ui-sref="home()">
          <i class="fa fa-fw fa-home"></i>
          <span class="nav-link-text">Home</span>
        </a>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Resultados">
        <a class="nav-link" ui-sref="results()">
          <i class="fa fa-fw fa-area-chart"></i>
          <span class="nav-link-text">Resultados</span>
        </a>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Imprimir Resultados">
        <a class="nav-link" ui-sref="printResults()">
          <i class="fa fa-fw fa-print"></i>
          <span class="nav-link-text">Imprimir Resultados</span>
        </a>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Cadastrar Candidatos">
        <a class="nav-link" ui-sref="register()">
          <i class="fa fa-fw fa-address-book"></i>
          <span class="nav-link-text">Cadastrar Candidatos</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="content-wrapper">
  <div class="container-fluid">
    <div ui-view></div>
  </div>
</div>